:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color-scheme: light dark;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lime-green-04: #5CB85F;
  --hero-navbar-background: #F1F3FF;
  --dark-blue-04: #0D28A6;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}